---
---

@import "{{ site.theme }}";

//
// Variables
//

$font-size: 18px;

//
// Large sections
//

body {
    font-size: $font-size;
}

//
// Fixes
//

.buttons, button {
    font-size: 14px;
    line-height: 14px;
}

header {
    font-size: 14px;
    line-height: 25.2px;
}